body {
    display:flex;
}

.container {
    display: flex;
    gap: 10px;
}

.selection-container {  
    display:flex; 
    position: relative;
    width: 100%;
}

.selection-wrapper {
    position: relative;
    width:68px;
    height:68px;
}

.pick {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    width: 100%; /* Fill the wrapper */
    height: auto; /* Maintain aspect ratio */
    top: 0px;
    left: 0px;
}

.background {
    z-index: 0;
    opacity: 0.75;
}

.icon {
    z-index: 1;
}

.selected {
    border: 2px solid blue;
}